*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background-color: skyblue;
	font-family: 'Ubuntu', sans-serif;

}


.carousel-img {
	height: 400px;
	width: 300px;
}


font-family {
  color: deepskyblue;
}
  

.div1 {
	background-color: skyblue;
	

}

.div2 {
	color: #5D5C61;
}

.div3 {
	color: yellow;


}

.hover {
	color: darkgray;
}


